{% extends 'core/base.html' %}
{% load static %}
{% block content%}
<div class="text-center">
	<img src="{% static 'core/img/photo.jpeg'%}" width="250px" height="350px" class="img-thumbnail mt-5">
</div>
<div class="text-white mx-5 text-justify">
	<h1 class=" mt-4 font-weight-bold st-font">Hello,</h1>
	<div class="px-4" style="line-height:2rem;">
		<p style="text-indent:100px">
		<p>My name is <b class="text-danger">Kanchan Jeswani.</b> </p>
		<p>I am a Computer Science undergraduate at Jaipur Engineering College And Research Centre (JECRC).</p>
		<p>I am a competitive programmer and a full-stack web developer. I majorly work on Django, vue.js, Tailwind CSS, Bootstrap, and Javascript.</p>
</b>
		</p>
		<p>
			I have thorough understanding of data structures, algorithms, and internals of Operating System, I am a curious learner passionate about problem-solving and optimization.I have proficient understanding of code versioning (using Git), and a quite good experience working with C++, Python, and SQL.
		</p>
		<p>
I am an open-source contributor at GSSOC and I have been part of the CodeChef Mentorship Program.

		</p>
		<p>
		I have also worked on data analysis and deep learning using PyTorch .I am an active participant on various programming grounds such as Leetcode , CodeChef, Codeforces, Google Kickstart, Leetcode, Hackerrank, Geeksforgeeks and Hackerearth.
		
		</p>
		<p>
			I love writing tech blogs.
		</p>
		</div>
	<div class="text-center">
	<a href="/contact" class="btn btn-outline-success my-4 mx-3">Hire me</a>
	<a href="/contact" class="btn btn-outline-danger my-4">Reach out to me</a>
	</div>
</div>

{% endblock content%}