{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="container text-center">
	<h1 class="text-warning mb-4 border-bottom-0 mt-3" >Competitive Programming</h1>
	<div class="row row-cols-3 row-cols-sm-2 row-cols-md-3 g-3">
		<div class="col">
			<div class="card shadow-sm my-5 mx-1 mt-5">
				<img src="{% static 'core/img/hackerrank.png'%}" class="d-block w-100" alt="..." height = 300px width = 7px>
				
				<div class="card-body">
					<p><b>Hackos: 5803</b><br/>
						<img src="{% static 'core/img/skills.png'%}" class="d-block w-100" alt="..." height = 150px width = 7px>
						<img src="{% static 'core/img/badges.png'%}" class="d-block w-100" alt="..." height = 150px width = 7px>
						Gold level in Problem solving with 6 stars<br/>
						Gold level in C++ with 5 stars<br/>
						Gold level in Python with 5 stars<br/>
						Gold level in SQL with 5 stars<br/>
						Hackerrank(Hack the interview): Rank 39<br/>
						Solved 230+ probems<br/>
						 <u><a href="https://www.hackerrank.com/kanchanjeswani21" target="_blank">View Profile</a></u>
					</p>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card shadow-sm my-2 mx-1  mt-5">
				<img src="{% static 'core/img/codechef.png'%}" class="d-block w-100" alt="..." height = 300px width = 7px>
				<div class="card-body">
				<p><b>Rating: 1726</b><br/>
						
						<img src="{% static 'core/img/rating.png'%}" class="d-block w-100" alt="..." height = 300px width = 7px>
						Rank 3 in CodeSquash<br/>
					    Rank 12 Womens in competitive programming<br/>
					    
						Global Rank: 1234 in CodeChef Long challenges<br/>
						Solved 280+ probems<br/>
						Mentee at CodeChef<br/>
						
					<u><a href="https://drive.google.com/open?id=0B8_cP0g-tTnmWEMtbHVrUDZKcDA" target="_blank">View Certificates</a></u><br/>
						 <u><a href="https://www.codechef.com/users/kanchan1930" target="_blank">View Profile</a></u>
					</p>
					</p>
				</div>
			</div>
		</div>
		
		<div class="col">
			<div class="card shadow-sm my-2 mx-1  mt-5">
				<img src="{% static 'core/img/leetcode.png'%}" class="d-block w-100" alt="..." height = 300px width = 7px>
				<div class="card-body">
				<p><b>Rating: 1,543 <img src="{% static 'core/img/stars.png'%}" class="d-block w-100" alt="..." height = 50px width = 4px></b><br/>
						<img src="{% static 'core/img/yeahh.png'%}" class="d-block w-100" alt="..." height = 150px width = 7px>
						<img src="{% static 'core/img/ratingre.png'%}" class="d-block w-100" alt="..." height = 130px width = 7px>
					<img src="{% static 'core/img/badgesre.png'%}" class="d-block w-100" alt="..." height = 150px width = 7px>
						Solved 650+ probems<br/>
						 <u><a href="https://leetcode.com/Kanchan19102000/" target="_blank">View Profile</a></u>
					</p>
				
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card shadow-sm my-2 mx-2  mt-5">
				<img src="{% static 'core/img/codeforces.png'%}" class="d-block w-100" alt="..." height = 300px width = 7px>
				<div class="card-body">
				
				
				<p><b>Rating: 1428 (max. specialist, 1428)</b><br/>
						<img src="{% static 'core/img/board.png'%}" class="d-block w-100" alt="..." height = 200px width = 7px>
						Solved 800+ probems<br/>
						 <u><a href="https://codeforces.com/profile/kanchan_jeswani" target="_blank">View Profile</a></u>
					</p>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card shadow-sm my-2 mx-2  mt-5">
				<img src="{% static 'core/img/gfg.png'%}" class="d-block w-100" alt="..." height = 300px width = 7px>
				<div class="card-body">
				
				<p><b>Rank: 1 | Score: 1450</b><br/>
						<img src="{% static 'core/img/bar.png'%}" class="d-block w-100" alt="..." height = 230px width = 7px>
					
						Solved 580+ probems<br/>
						 <u><a href="https://auth.geeksforgeeks.org/user/kanchanjeswani/practice/" target="_blank">View Profile</a></u>
					</p>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card shadow-sm my-2 mx-2  mt-5">
							<img src="{% static 'core/img/hackerearth.png'%}" class="d-block w-100" alt="..." height = 300px width = 7px>
				<div class="card-body">
					<p><b>Rating: 1269</b></p>
					
						Rank 108 in Data Structures and Algorithms Coding Contest<br/>
						Rank 198 in HourStorm #9<br/>
						Rank 275 in November Easy '19<br/>
					Rank 566 in Data Structures and Algorithms coding contest #3<br/>
					Rank 941 in April Easy' 19 <br/>
					Solved 100+ probems<br/>
						 <u><a href="https://www.hackerearth.com/@kanchan134" target="_blank">View Profile</a></u>
					</p>
				
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card shadow-sm my-4 mx-2 mt-5">
	<img src="{% static 'core/img/kickstart.png'%}" class="d-block w-100" alt="..." height = 300px width = 7px>
				<div class="card-body">
				<p><b>Global Rank: 1382</b><br/>
	
						 <u><a href="" target="_blank">View Certificates</a></u>
					</p>
				
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card shadow-sm my-4 mx-2 mt-5">
				<img src="{% static 'core/img/codejam.png'%}" class="d-block w-100" alt="..." height = 300px width = 7px>
				<div class="card-body">
				<p><b>Global Rank: 2289</b><br/>
		
						 <u><a href="" target="_blank">View Certificates</a></u>
					</p>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card shadow-sm my-4 mx-2 mt-5">
				<img src="{% static 'core/img/hashcode.png'%}" class="d-block w-100" alt="..." height = 300px width = 7px>
				<div class="card-body">
				<p><b>Global Rank: 7494</b><br/>
						 <u><a href="" target="_blank">View Certificates</a></u>
					</p>
				</div>
			</div>
		</div>
	
	</div>
</div>
{% endblock content %}