{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="container text-center">
	<h1 class="text-warning mb-4 border-bottom-0 mt-3" >Competitive Programming</h1>
    <div class="row row-cols-3 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
            <div class="card shadow-sm my-4 mx-2 mt-5">
                <img src="{% static 'core/img/hackerrank.png'%}" class="d-block w-100" alt="..." height = 300px width = 7px>
                <div class="card-body">
					<h5 class="text-primary mb-3">Jaipur Engineering college and Research Centre, Jaipur, Rajasthan, India

</h5>
					<p><b>Bachelor's of Technology in Computer Science</b></p>
					<p>August 2018 - May 2022 </p>
					<p>Percentage Scored - 90%</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm my-2 mx-2  mt-5">
                <img src="{% static 'core/img/codechef.png'%}" class="d-block w-100" alt="..." height = 300px width = 7px>
                <div class="card-body">
        					<h5 class="text-primary mb-3">Samrat Public School (SPS), Ajmer, Rajasthan, India

</h5>
					<p><b>Senior Secondary Education</b></p>
					<p>Science | Maths</p>
					<p>April 2017 - March 2018</p>
					<p>Percentage Scored - 91%</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm my-2 mx-2  mt-5">
                <img src="{% static 'core/img/leetcode.png'%}" class="d-block w-100" alt="..." height = 300px width = 7px>
                <div class="card-body">

        					<h5 class="text-primary mb-3">Maheshwari Public School (MPS), Ajmer, Rajasthan, India

</h5>
					<p><b>High School Secondary Education</b></p>
					<p>April 2015 - March 2016</p>
					<p>Percentage Scored - 95%</p>
                </div>
            </div>
        </div>
                <div class="col">
            <div class="card shadow-sm my-2 mx-2  mt-5">
                <img src="{% static 'core/img/codeforces.png'%}" class="d-block w-100" alt="..." height = 300px width = 7px>
                <div class="card-body">

        					<h5 class="text-primary mb-3">Maheshwari Public School (MPS), Ajmer, Rajasthan, India

</h5>
					<p><b>High School Secondary Education</b></p>
					<p>April 2015 - March 2016</p>
					<p>Percentage Scored - 95%</p>
                </div>
            </div>
        </div>
		        <div class="col">
            <div class="card shadow-sm my-2 mx-2  mt-5">
                <img src="{% static 'core/img/gfg.png'%}" class="d-block w-100" alt="..." height = 300px width = 7px>
                <div class="card-body">

        					<h5 class="text-primary mb-3">Maheshwari Public School (MPS), Ajmer, Rajasthan, India

</h5>
					<p><b>High School Secondary Education</b></p>
					<p>April 2015 - March 2016</p>
					<p>Percentage Scored - 95%</p>
                </div>
            </div>
        </div>
		        <div class="col">
            <div class="card shadow-sm my-2 mx-2  mt-5">
                <img src="{% static 'core/img/hackerearth.png'%}" class="d-block w-100" alt="..." height = 300px width = 7px>
                <div class="card-body">

        					<h5 class="text-primary mb-3">Maheshwari Public School (MPS), Ajmer, Rajasthan, India

</h5>
					<p><b>High School Secondary Education</b></p>
					<p>April 2015 - March 2016</p>
					<p>Percentage Scored - 95%</p>
                </div>
            </div>
        </div>
		 <div class="col">
            <div class="card shadow-sm my-4 mx-2 mt-5">
                <img src="{% static 'core/img/college.png'%}" class="d-block w-100" alt="..." height = 300px width = 7px>
                <div class="card-body">
					<h5 class="text-primary mb-3">Jaipur Engineering college and Research Centre, Jaipur, Rajasthan, India

</h5>
					<p><b>Bachelor's of Technology in Computer Science</b></p>
					<p>August 2018 - May 2022 </p>
					<p>Percentage Scored - 90%</p>
                </div>
            </div>
        </div>
		 <div class="col">
            <div class="card shadow-sm my-4 mx-2 mt-5">
                <img src="{% static 'core/img/college.png'%}" class="d-block w-100" alt="..." height = 300px width = 7px>
                <div class="card-body">
					<h5 class="text-primary mb-3">Jaipur Engineering college and Research Centre, Jaipur, Rajasthan, India

</h5>
					<p><b>Bachelor's of Technology in Computer Science</b></p>
					<p>August 2018 - May 2022 </p>
					<p>Percentage Scored - 90%</p>
                </div>
            </div>
        </div>
		 <div class="col">
            <div class="card shadow-sm my-4 mx-2 mt-5">
                <img src="{% static 'core/img/college.png'%}" class="d-block w-100" alt="..." height = 300px width = 7px>
                <div class="card-body">
					<h5 class="text-primary mb-3">Jaipur Engineering college and Research Centre, Jaipur, Rajasthan, India

</h5>
					<p><b>Bachelor's of Technology in Computer Science</b></p>
					<p>August 2018 - May 2022 </p>
					<p>Percentage Scored - 90%</p>
                </div>
            </div>
        </div>
		
    </div>
	</div>
{% endblock content %}